@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  
  font-family: 'Fira Sans', monospace;
}

body{
  display: block;
  margin: 8px;
  background-color: #16171f;
}

::selection {
  background: #7a7a7a; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #7a7a7a; /* Gecko Browsers */
}

.container{
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar h1{
  display: inline-block;
  font-size: 36px;
  background-color: #dfdfdf;
  width: fit-content;
  padding: 0px 8px 0px 6.4px;
  margin: 22px 10px 0px 0px;
}

hr{
  border-top: 2px dotted;
}

.navbar{
  display: block;
  line-height: 1.4;
  width: 100%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    margin-bottom: 0px;
    padding-top: 16px;
    overflow: hidden;
}

nav ul li{
  float: left;
}

nav ul li a{
  display: block;
  padding: 8px;
  color: #dfdfdf;
  text-decoration: none;
  font-size: 20px;
}

nav ul li a:hover{
  text-decoration: underline;
}

hr{
  border-top: 2px dotted #ffffff1e;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 14px;
  width: 100%;
}

.homepage{
  color: #dfdfdf;
  padding-top: 20px;
}

.homepage-img{
  display: none;
  -webkit-transition: scale 0.4s;
  transition: scale 0.4s;
}

.homepage-img:hover{
  scale: 1.04;
}

.homepage-description{
  padding-top: 6px;
  margin: 0px 12px 8px 12px;
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
}

.socials ul{
  list-style-type: none;
  margin: 0;
  margin-bottom: 0px;
  padding-top: 0px;
  overflow: hidden;
}

.socials ul li{
  float: left;
  justify-content: center;
}

.socials ul li a{
  display: block;
  padding: 26px;
  color: white;
}

.homepage a{
  font-weight: bold;
  text-decoration: none;
  color: #8cb5df;
  line-height: 5px;
}
.homepage a:hover{
  color: #779bbe;
}



ion-icon{
  font-size: 64px;
  color: #dfdfdf;
  transition: color 0.2s;
  pointer-events: none;
}

ion-icon:hover{
  color: #a7a7a7;
}

small{
  color:rgb(99, 100, 105);
}

.homepage-br{
  display: inline-block;
}

#socials-br{
  display: none;
}

@media only screen and (min-width: 384px){
  #socials-br{
    display: block;
  }
}
@media only screen and (min-width: 499px){
  #socials-br{
    display: none;
  }
}

@media only screen and (min-width: 700px){

  .center{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container{
    width: 80%;
  }

  .navbar{
    width: 100%;
  }

  .navbar h1{
    float: left;
    padding: 0px 8px 0px 6.4px;
    margin: 10px 10px 0px 0px;
  }

  hr{
    margin: 26px;
  }

  .homepage-br{
    display: none !important;
  }

  .homepage{
    display: flex;
    padding: 16px 0px 0px;
  }

  .homepage-img{
    display: inline-block;
    width: 220px;
    margin: 8px;
  }

  .socials-img{
    display: none;
  }

  

  
}

@media (min-width: 900px) {
  .container {
      width: 70%;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 60%;
  }
}


@media (min-width: 1500px) {
  .container {
      width: 50%;
  }
}
